[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=SEMA-GUI
Comment=ADLINK SEMA-GUI
Exec=/bin/sh -c "/usr/local/SEMA/bin/SEMA_GUI.sh"
Icon=/usr/share/icons/sema.png
Terminal=false
Categories=Utility;
StartupNotify=true
